<html>
    <body>
        <table border="2">
            <tr>
                <td>id</td>
                <td>name</td>
            </tr>
            <tr>
                <td>1</td>
                <td>book 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>the witcher and the lion</td>
            </tr>
        </table>
    </body>
</html>